.navigation {
  display: flex;
  background-color: $eerie-black;
  padding: 25px 8% 25px 8%;
  justify-content: space-between;
  font-family: $roboto;
  .logo {
    width: 80px;
  }
}

.navigation__list {
  list-style: none;
}
.navigation__item {
  display: inline;
  margin-left: 20px;
  a {
    text-decoration: none;
    color: $platinum;
    &:hover {
      color: $ruddy-pink;
    }
  }
}
.topnav {
  display: none;
}
@media only screen and (max-width: 900px) {
  .topnav {
    display: block;
    overflow: hidden;
    background-color: $eerie-black;
    justify-content: space-between;
    padding: 25px 8% 25px 8%;
    .navigation__list-box {
      display: none;
      position: absolute;
      width: 100vw;
      left:0;
      background-color: $eerie-black;

      .navigation__list{
          padding: 0;
      }
      .navigation__item {
        display: block;
        font-size: $large;
        padding: 10px 10px 10px 10px;
      }
    }
  }
  .navigation {
    display: none;
  }

  .hamburger {
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;
    color: white;
    font-size: 20px;
    padding: 10px;
    &:focus{
        color: $white;
    }
    &:hover{
      color: $fuzzy-wuzzy;

    }
  }
}
